<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SqlConn" connectionString="Data Source=.;Initial Catalog=Aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
        
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>

    <membership defaultProvider="CustomMemberShip"
                userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="CustomMemberShip"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="SqlConn"
             applicationName="asp"
             enablePasswordRetrieval="false"
             enablePasswordReset="false"
             requieresQuestionAndAnswer="true"
             requieresUniqueEmail="true"
             passwordFormat="Hashed" />
      </providers> 
      
    </membership>
    
    <authentication mode="Forms">
      <forms loginUrl="10-ControlesLogin.aspx"/>
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>
    
	</system.web>
</configuration>
