<?xml version="1.0"?>
<configuration>

  <!-- PARA PODER CAMBIAR FACILMENTE EL SERVIDOR MSMQ DE TRABAJO-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PresentacionWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
       <add key="ColaMsMq" value="FormatName:DIRECT=OS:PC46\Private$\ColaPrestamos"/>
  </appSettings>
  <!-- PARA PODER CAMBIAR FACILMENTE EL SERVIDOR MSMQ DE TRABAJO-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <applicationSettings>
    <PresentacionWin.Properties.Settings>
      <setting name="PresentacionWin_ServicioWeb_MiServicio" serializeAs="String">
        <value>http://localhost/SWFinal/MiServicio.asmx</value>
      </setting>
    </PresentacionWin.Properties.Settings>
  </applicationSettings>
</configuration>
