<?xml version="1.0"?>
<configuration>
  
	<!-- PARA PODER CAMBIAR FACILMENTE EL SERVIDOR MSMQ DE TRABAJO-->
	<appSettings>
		<add key="ColaMsMq" value="FormatName:DIRECT=OS:POPISEVEN\Private$\ColaPrestamos"/>
	<add key="ServicioWeb.MiServicio" value="http://localhost/SWFinal/MiServicio.asmx"/>
	</appSettings>
	<!-- PARA PODER CAMBIAR FACILMENTE EL SERVIDOR MSMQ DE TRABAJO-->
  
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
	</system.web>
</configuration>
