<?xml version="1.0"?>
<configuration>
  <appSettings>
                <add key="LibroVisita" value="Visitas.xml"></add>
  </appSettings>
  <connectionStrings>
    <add name="BiblioCnnStr" connectionString="Data Source=.;Initial Catalog=BIBLIOTECA;Integrated Security=True" 
                             providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
    <customErrors mode="On" defaultRedirect="PaginaError/PEGenerica.htm">
           <error statusCode="404" redirect="PaginaError/PENoHayPagina.htm"/>
    </customErrors>

  </system.web>
</configuration>
